<section >
  <div class="container">
  <div class="row">
    <div class="col-md-7 image-section">
      <img class="w-100" src="../../../assets/login-image.svg" alt="">
    </div>
    <div class="col-md-4 offset-sm-1">
      <div class="login-section">
        <div>
          <img src="../../../assets/logo.png" alt="">
        </div>
        <div class="wellcome-text">
          <span>Welcome To GSF Careers</span>
        </div>
        <div class="subtext">
          <span>Let’s get you logged into your account</span>
        </div>




        <div class="input-names" style="margin-top: 64px;">
          <label for="">Phone number/Email ID</label>
          <div>
            <input type="input" placeholder="enter email">
          </div>

        </div>
        <div class="input-names" style="margin-top: 40px;">
          <label for="">Password</label>
          <div>
            <input type="password" placeholder="enter password">
            <div class="d-flex">
              <input type="checkbox" value="1">
              <span style="color: #0C1D38;
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              line-height: 16px; /* 133.333% */"> Remember me</span>
            </div>

          </div>
        </div>
        <div>
          <button class="login-btn">Login</button>
        </div>

        <div style="margin-top: 16px;cursor: pointer;">
          <span style="color: #015AA9;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;">Forgot Password?</span>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
