.image-section {
  background: #FAFAFA;


}

.login-section {


  .wellcome-text {
    margin-top: 40px;

    span {
      color: #0C1D38;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
    }

    .subtext {
      color: #6D7788;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Poppins;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      opacity: 0.8;

    }
  }

  .inputnames {
    margin-top: 55px;

    label {
      margin-top: 64px;
      color: #0C1D38;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Poppins;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

    }

  }

  input {
    display: flex;
    padding: 14px 156px 13px 16px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #8A91A0;
  }

  .login-btn {
    margin-top: 64px;
    display: flex;
    padding: 12px 152px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #015AA9;
    border: none;
  }
}
